
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menu{
    <div class="menu">
        <ul>
            <li><a href="/home" style="text-decoration: none">Home</a></li>
            <li class="active"><a href="/about" style="text-decoration: none">About</a></li>
            <li><a href="/contact" style="text-decoration: none">Contact</a></li>
            <li><a href="/manual" style="text-decoration: none">Guide</a></li>
            <div class="clear"></div>
        </ul>
    </div>
}
<div class="content">
    <div class="section group">
        <h3>Random Group</h3>
        <img src="images/about_img.jpg" alt="">
        <p>We are a group in FPT University. Our group have 4 member</p>
        <p>Include:</p>
        <p>Phạm Nhật Minh Tân</p>
        <p>Võ Trương Hải Đăng</p>
        <p>Nguyễn Minh Thảo</p>
        <p>Mạc Trường Hải</p>
    </div>
</div>

