@model PetStoreWebClient.EF.User
<div class="account_desc">
    <ul>
        @if (Session["userLogin"] != null)
        {
            <li><span class="alert alert-info" style="font-size: 14px">Hello, @Model.u_name</span><a href="/logout-process" style="font-size: 16px">Logout</a></li>
            <li style="font-size: 18px"><a href="#">My Account</a></li>
        }
        else
        {
            <li style="font-size: 20px">@Html.ActionLink("Login", "Index", "Accounts")</li>
        }
    </ul>
</div>
