@model PetStoreWebClient.EF.User
<div class="account_desc">
    <ul>
        @if (Session["userLogin"] != null)
        {
            <li><span class="alert alert-info" style="font-size: 14px">Hello, @Model.u_name</span><a href="/logout-process" style="font-size: 16px; text-decoration: none">Logout</a></li>
            <li><a style="font-size: 15px; text-decoration: none" href="#">My Account</a></li>
        }
        else
        {
            <li><a style="font-size: 20px; text-decoration: none" href="/login">Login</a></li>
        }
    </ul>
</div>
