
@{
    ViewBag.Title = "Manual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content">
    <div class="section group">
        <div class="cont-desc span_1_of_2">
            <div class="product-details">
                <div class="desc span_3_of_2">
                    <h2>My Profile</h2> <!--Design form here-->
                    <form>
                        <label for="1">Name</label>
                        <input type="text" id="1" name="test" />
                        <label for="3">Name</label>
                        <input type="text" id="3" name="test" />
                        <label for="2">Name</label>
                        <input type="text" id="2" name="test" />
                        <label for="4">Name</label>
                        <input type="text" id="4" name="test" />
                        <input type="submit" value="Submit" />
                    </form>
                </div>
            </div>
        </div>
        <div class="rightsidebar span_3_of_1">
            <h2>My Account</h2>
            <ul class="side-w3ls">
                <li><a href="#">Change profile</a></li>
                <li><a href="#">Change password</a></li>
            </ul>
            <br />
        </div>
    </div>
</div>
