
@{
    ViewBag.Title = "Manual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content">
    <div class="section group">
        <div class="cont-desc span_1_of_2">
            <div class="content_bottom">
                <div class="heading">
                    <h3>Login and Buy product guide</h3>
                </div>
                <div class="clear"></div>
            </div>
            <br />
            <h3 id="step-manual">Step 1: Login</h3><hr />
            <p id="text-manual"><i class="fa fa-circle" aria-hidden="true" style="font-size:13px; color: red"></i> In the Pet Shop homepage interface, Click <b id="bold">Login</b></p><br />
            <img src="/Assets/images/Manual/login-manual.png" class="img-manual" /> <br /><br />
            <p id="text-manual"><i class="fa fa-circle" aria-hidden="true" style="font-size:13px; color: red"></i> Enter username, password and Login.</p><br />
            <img src="/Assets/images/Manual/login-2-manual.png" class="img-manual" /><br /><br />
            <p id="text-manual"><i class="fa fa-circle" aria-hidden="true" style="font-size:13px; color: red"></i> Login successful.</p><br />
            <img src="/Assets/images/Manual/login-success-manual.png" class="img-manual" /><br /><br />
            <h3 id="step-manual">Step 2: Add item to cart</h3><hr />
            <p id="text-manual"><i class="fa fa-circle" aria-hidden="true" style="font-size:13px; color: red"></i> Click <strong id="bold">Add to cart</strong> in product you want to buy.</p><br />
            <img src="/Assets/images/Manual/add-to-cart-manual.png" class="img-manual" /><br /><br />
            <h3 id="step-manual">Step 3: Payment</h3><hr />
            <p id="text-manual"><i class="fa fa-circle" aria-hidden="true" style="font-size:13px; color: red"></i> In your cart click <strong id="bold">Payment</strong></p><br />
            <img src="/Assets/images/Manual/payment-manual.png" class="img-manual" /><br /><br />
            <p id="text-manual"><i class="fa fa-circle" aria-hidden="true" style="font-size:13px; color: red"></i> Click <strong id="bold">Send order</strong></p><br />
            <img src="/Assets/images/Manual/send-order-manual.png" class="img-manual" /><br /><br />
            <p id="text-manual"><i class="fa fa-circle" aria-hidden="true" style="font-size:13px; color: red"></i> Order product successfull</p><br />
            <img src="/Assets/images/Manual/success-order-manual.png" class="img-manual" /><br /><br /><hr />
        </div>
        <div class="rightsidebar span_3_of_1" id="manual-tool">
            <h2>GUIDE</h2>
            <ul class="side-w3ls">
                <li><a href="/manual">Login and Buy product</a></li>
                <li><a href="#">Register account</a></li>
            </ul>
            <br />
        </div>
    </div>
</div>
