
@{
    ViewBag.Title = "Manual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content">
    <div class="section group">
        <div class="cont-desc span_1_of_2">
            <div class="content_bottom">
                <div class="heading">
                    <h3>Buy product manual</h3>
                </div>
                <div class="clear"></div>
            </div>
            <h4>Step 1: Login</h4>
            <p>In the Pet Shop homepage interface, Click Login</p>
            <img src="#" class="img-manual" />
        </div>
        <!--Form here-->
        <div class="rightsidebar span_3_of_1">
            <h2>Manual</h2>
            <ul class="side-w3ls">
                <li><a href="/manual">Buy product manual</a></li>
                <li><a href="#">Register account manual</a></li>
            </ul>
            <br />
        </div>
    </div>
</div>
