
@{
    ViewBag.Title = "RegisterGuide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="section group">
        <div class="cont-desc span_1_of_2">
            <div class="content_bottom">
                <div class="heading">
                    <h3>Register guide</h3>
                </div>
                <div class="clear"></div>
            </div>
            <br />
            <h3 id="step-manual">Register account</h3><hr />
            <!-- Step 1 -->
            <p id="text-manual">
            <i class="fa fa-circle" aria-hidden="true" style="font-size:13px; color: red"></i> 
            In the Pet Shop homepage interface, Click on <b id="bold">Login</b>
            </p><br />
            <img src="/Assets/images/Manual/login-manual.png" class="img-manual" /> <br /><br />
            
            <!-- Step 2 -->
            <p id="text-manual">
            <i class="fa fa-circle" aria-hidden="true" style="font-size:13px; color: red"></i> 
            Fill your information for Sign Up Form and Sign Up.
            </p><br />
            <img src="/Assets/images/Manual/Register-1-guide.png" class="img-manual" /><br /><br />
            
            <!-- Step 3 -->
            <p id="text-manual">
            <i class="fa fa-circle" aria-hidden="true" style="font-size:13px; color: red"></i>
             Sign Up successful.</p><br />
            <img src="/Assets/images/Manual/Register-2-guide.png" class="img-manual" /><br /><br />
        </div>
        <div class="rightsidebar span_3_of_1" id="manual-tool">
            <h2>GUIDE</h2>
            <ul class="side-w3ls">
                <li><a href="/manual">Login and Buy product</a></li>
                <li><a href="/register-guide">Register account</a></li>
            </ul>
            <br />
        </div>
    </div>
</div>

