
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="section group">
        <div class="cont-desc span_1_of_2">
            <h2>Change Password</h2> <!--Design form here-->
            @using (Html.BeginForm("ChangePassword", "Accounts", FormMethod.Post, new { @id = "ChangePwd" }))
            {
                <div class="form-group row">
                    <label for="oldPassword" class="col-4 col-form-label">Old password</label>
                    <div class="col-8">
                        @Html.TextBox("oldPassword", "", new { @class = "form-control", @placeholder = "Old password", @required = true, @autofocus = true })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newPassword" class="col-4 col-form-label">New password</label>
                    <div class="col-8">
                        @Html.TextBox("newPassword", "", new { @class = "form-control", @placeholder = "New password", @required = true })
                    </div>
                </div>
                    <div class="form-group row">
                        <label for="re_newPassword" class="col-4 col-form-label">Confirm password</label>
                        <div class="col-8">
                            @Html.TextBox("re_newPassword", "", new { @class = "form-control", @placeholder = "Confirm password", @required = true })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-4 col-8">
                            <button name="submit" type="submit" class="btn btn-primary">Change password</button>
                        </div>
                    </div>
            }
        </div>
        <div class="rightsidebar span_3_of_1">
            <h2>My Account</h2>
            <ul class="side-w3ls">
                @*<li><a href="#">See profile</a></li>*@
                <li>@Html.ActionLink("See profile", "MyAccount", "Home")</li>
                <li><a href="#">Change profile</a></li>
            </ul>
            <br />
        </div>
    </div>
</div>

