@{
    var list = (List<PetStoreWebClient.ModelClass.CartItem>)ViewBag.ListItem;
    
    int sumItem = 0;
    if (list != null)
    {
        sumItem = list.Count;
    }
}
<div class="cart">
    <p>
        Welcome to our Online Wild Pet Store! <a href="/cart"><i class="fa fa-shopping-cart" style="font-size: 28px; color: red;" aria-hidden="true"></i></a>: @sumItem item(s)
    </p>
</div>
