
@{
    ViewBag.Title = "Failure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger">
    Fail to send! Your order has not been sent. <i class="fa fa-frown-o" aria-hidden="true"></i>
</div>

