
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menu{
    <div class="menu">
        <ul>
            <li><a href="/home" style="text-decoration: none">Home</a></li>
            <li><a href="/about" style="text-decoration: none">About</a></li>
            <li><a href="/contact" style="text-decoration: none">Contact</a></li>
            <li><a href="/manual" style="text-decoration: none">Guide</a></li>
            <div class="clear"></div>
        </ul>
    </div>
}

<div class="alert alert-success">
    Congratulation! You just order successful <i class="fa fa-smile-o" aria-hidden="true"></i>
</div>

