
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success">
    Congratulation! You just order successful <i class="fa fa-smile-o" aria-hidden="true"></i>
</div>

